@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-green: #29A744;
    --color-light-green: #96C93E;
    --color-dark--green: #348E48;
    --color-grey: #353A40;
    --color-light-grey: #999DA0;
    --color-blue: #1D465C;
    --color-white: #FFFFF3;
    --color-yellow: #FEC106;
    --color-cyan: #17A2B9;
    --color-red: #DC3546;
}

* {
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.texto-blanco {
    color: var(--color-white);
}

.texto-gris {
    color: var(--color-light-grey);
    text-decoration: none;
    padding: 8px;
    transition: all .2s;
}

.texto-gris:hover {
    color: var(--color-white);
}

.texto-verde {
    color: var(--color-dark--green);
}

.texto-verde:hover {
    color: var(--color-green);
}

.fondo-gris {
    background-color: var(--color-grey);
}

.fondo-azul {
    background-color: var(--color-blue);
}

.texto-carousel {
    position: absolute;
    top: 65%;
    left: 50%;
    z-index: 1;
    padding: 0 5%;
}

.contenedor-carousel-img {
    filter: brightness(0.5);
    height: 95vh;
}

.boton-enviar {
    width: 100%;
    height: 30%;
    background-color: var(--color-light-green);
    border-radius: 5px;
    border: none;
    transition: all .2s;
}

.margin-carousel {
    margin-top: -20vh;
}

.boton-enviar:hover {
    background-color: var(--color-green);
}

@media screen and (max-width: 1199px) {
    .texto-responsive {
        background-image: url(../images/ba1.jpg);
        height: 95vh;
        background-size: cover;
    }

    .oscurecer {
        position: absolute;
        height: 95vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 0;
        margin: 0;
    }
}

@media screen and (max-width: 1299px) {
    .texto-carousel {
        top: 50%;
        left: 40%;
    }
}