@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --color-green: #29A744;
    --color-light-green: #96C93E;
    --color-dark--green: #348E48;
    --color-grey: #353A40;
    --color-light-grey: #999DA0;
    --color-blue: #1D465C;
    --color-white: #FFFFF3;
    --color-yellow: #FEC106;
    --color-cyan: #17A2B9;
    --color-red: #DC3546;
}

* {
    font-family: 'Roboto', sans-serif !important;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.texto-blanco {
    color: var(--color-white);
}

.texto-gris {
    color: var(--color-light-grey);
    text-decoration: none;
    padding: 8px;
    transition: all .2s;
}

.texto-gris:hover {
    color: var(--color-white);
}

.texto-verde {
    color: var(--color-dark--green);
}

.texto-verde:hover {
    color: var(--color-green);
}

.fondo-gris {
    background-color: var(--color-grey);
}

.fondo-azul {
    background-color: var(--color-blue);
}

.contenedor-carousel .contenedor-carousel-img {
    filter: brightness(0.5);
    height: 95vh;
}

.subrayado-punteado {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.boton-enviar {
    width: 100%;
    height: 5vh;
    background-color: var(--color-light-green);
    border-radius: 5px;
    border: none;
    transition: all .2s;
}

.boton-enviar:hover {
    background-color: var(--color-green);
}

@media screen and (max-width: 1399px) {
    .texto-responsive {
        background-image: url(images/ba1_opaca.jpg);
        height: 95vh;
        background-size: cover;
    }
}